header {
    width: 100%;
    color: rgb(247, 203, 11);
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    background-color: var(--blue-gray);
}

#title {
    text-align: center;

}

.buttons{
    margin: 10px 0px;
    display: flex;
    justify-content: space-around;
}



.btn{
    border: 2px solid gray;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin: 20px 0px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    transition: background-color 0.4s ease;
}

.btn:hover{
    background-color: gray;
    color: white;
    transition: background-color 0.4s ease-in-out;
}