@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --black: #000;
  --white: #fff;
  --gray: #ccc;
  --blue-gray: ##f0f7ff;
  --dark-gray: #333;
  --red: #f00;
  --green: #0f0;
  --blue: #00f;
  --light-blue: #0056b3;
  --yellow: #ff0;
  --purple: #f0f;
  --orange: #f80;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}



main{
  min-height: 100vh;
  background-color: var(--light-blue);
}

img{
  height: 50px;
  width: 50px;
}


